openapi: 3.0.2
info:
  title: "晨检机器人管理后台接口文档"
  description: "晨检机器人管理后台接口文档"
  version: "1.0.0"
  contact:
    name: "Wiky Lyu"
    email: "wiiiky@yeah.net"

tags:
  - name: "帐号"
    description: "帐号相关接口，包括登录/注销"
  - name: "幼儿园"
    description: "幼儿园管理相关接口，包括创建园长等"
  - name: "健康"
    description: "健康管理相关接口，包括晨检和体检"

servers:
  - url: "http://admin.ykwell.cn/api/admin"
    description: "正式环境"
  # - url: "http://127.0.0.1:2323/api/admin"

paths:
  /systeminfo:
    get:
      tags:
        - "帐号"
      summary: "查询系统信息"
      description: "查询系统信息，包括超级用户是否存在，以及当前帐号"
      operationId: "get.systeminfo"
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSystemInfoResponse"
  /superuser:
    post:
      tags:
        - "帐号"
      summary: "创建超级用户"
      description: "创建超级用户，只有在不存在超级用户时才能创建"
      operationId: "post.superuser"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSuperAdminUserRequest"
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSuperAdminUserResponse"
  /login:
    put:
      tags:
        - "帐号"
      summary: "登录"
      description: "帐号登录"
      operationId: "put.login"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
  /logout:
    put:
      tags:
        - "帐号"
      security:
        - cookieAuth: []
      summary: "注销"
      description: "注销登录"
      operationId: "put.logout"
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseResponse"
  /self:
    get:
      tags:
        - "帐号"
      security:
        - cookieAuth: []
      summary: "获取当前用户信息"
      description: "获取当前登录的用户信息"
      operationId: "get.self"
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSelfResponse"
  /user/{id}:
    get:
      tags:
        - "帐号"
      security:
        - cookieAuth: []
      summary: "获取用户信息"
      description: "获取管理员用户信息"
      operationId: "get.user"
      parameters:
        - in: "path"
          name: "id"
          schema:
            type: integer
          required: true
          description: 用户ID
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSelfResponse"
  /kindergarten/{id}:
    post:
      tags:
        - "幼儿园"
      security:
        - cookieAuth: []
      summary: "获取幼儿园详情"
      description: "获取幼儿园详情"
      operationId: "get.kindergarten"
      parameters:
        - in: "path"
          name: "id"
          description: "幼儿园ID"
          required: true
          example: 10
          schema:
            type: "integer"
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetKindergartenResponse"
  /kindergarten:
    post:
      tags:
        - "幼儿园"
      security:
        - cookieAuth: []
      summary: "创建幼儿园"
      description: "创建幼儿园，同时创建园长帐号"
      operationId: "post.kindergarten"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateKindergartenRequest"
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateKindergartenResponse"
  /kindergartens:
    get:
      tags:
        - "幼儿园"
      security:
        - cookieAuth: []
      summary: "获取幼儿园列表"
      description: "获取幼儿园列表，分页查询"
      operationId: "get.kindergartens"
      parameters:
        - in: "query"
          name: "query"
          schema:
            type: "string"
          required: false
          description: 关键字
        - in: "query"
          name: "page"
          schema:
            type: "integer"
          required: false
          description: 分页
        - in: "query"
          name: "page_size"
          schema:
            type: "integer"
          required: false
          description: 每页数量
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindKindergartensResponse"
  /kindergarten/teachers:
    get:
      tags:
        - "幼儿园"
      security:
        - cookieAuth: []
      summary: "获取幼儿园教师"
      description: "获取幼儿园教师列表，分页查询"
      operationId: "get.kindergarten.teachers"
      parameters:
        - in: "query"
          name: "query"
          schema:
            type: "string"
          required: false
          description: 关键字
        - in: "query"
          name: "kindergarten_id"
          schema:
            type: "integer"
          required: false
          description: "幼儿园ID"
        - in: "query"
          name: "class_id"
          schema:
            type: "integer"
          required: false
          description: "班级ID"
        - in: "query"
          name: "role"
          schema:
            type: "string"
          required: false
          description: "角色"
        - in: "query"
          name: "page"
          schema:
            type: "integer"
          required: false
          description: 分页
        - in: "query"
          name: "page_size"
          schema:
            type: "integer"
          required: false
          description: 每页数量
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindKindergartenTeachersResponse"
  /kindergarten/classes:
    get:
      tags:
        - "幼儿园"
      security:
        - cookieAuth: []
      summary: "获取幼儿园班级"
      description: "获取班级教师列表，分页查询"
      operationId: "get.kindergarten.classes"
      parameters:
        - in: "query"
          name: "query"
          schema:
            type: "string"
          required: false
          description: 关键字
        - in: "query"
          name: "kindergarten_id"
          schema:
            type: "integer"
          required: false
          description: "幼儿园ID"
        - in: "query"
          name: "page"
          schema:
            type: "integer"
          required: false
          description: 分页
        - in: "query"
          name: "page_size"
          schema:
            type: "integer"
          required: false
          description: 每页数量
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindKindergartenClassesResponse"
  /kindergarten/students:
    get:
      tags:
        - "幼儿园"
      security:
        - cookieAuth: []
      summary: "获取幼儿园学生"
      description: "获取幼儿园学生列表，分页查询"
      operationId: "get.kindergarten.students"
      parameters:
        - in: "query"
          name: "query"
          schema:
            type: "string"
          required: false
          description: 关键字
        - in: "query"
          name: "kindergarten_id"
          schema:
            type: "integer"
          required: false
          description: "幼儿园ID"
        - in: "query"
          name: "class_id"
          schema:
            type: "integer"
          required: false
          description: "班级ID"
        - in: "query"
          name: "gender"
          schema:
            type: "string"
          required: false
          description: "性别"
        - in: "query"
          name: "page"
          schema:
            type: "integer"
          required: false
          description: 分页
        - in: "query"
          name: "page_size"
          schema:
            type: "integer"
          required: false
          description: 每页数量
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindKindergartenStudentsResponse"
  /kindergarten/student/morning/checks:
    get:
      tags:
        - "健康"
      security:
        - cookieAuth: []
      summary: "获取晨检记录"
      description: "获取晨检记录"
      operationId: "get.kindergarten.student.morning.checks"
      parameters:
        - in: "query"
          name: "query"
          description: "关键字搜索，学生姓名"
          example: ""
          required: false
          schema:
            type: "string"
        - in: "query"
          name: "kindergarten_id"
          description: "幼儿园ID"
          example: 0
          schema:
            type: "integer"
          required: false
        - in: "query"
          name: "class_id"
          description: "班级ID"
          example: 1
          required: false
          schema:
            type: "integer"
        - in: "query"
          name: "student_id"
          description: "学生ID"
          example: 0
          required: false
          schema:
            type: "integer"
        - in: "query"
          name: "temperature_filters"
          description: "体温状态"
          example: []
          required: false
          schema:
            type: "array"
            items:
              type: "string"
              example: "normal"
        - in: "query"
          name: "start_time"
          description: "开始日期"
          example: ""
          required: false
          schema:
            type: "string"
        - in: "query"
          name: "end_time"
          description: "结束日期"
          example: ""
          required: false
          schema:
            type: "string"
        - in: "query"
          name: "page"
          example: 1
          schema:
            type: "integer"
        - in: "query"
          name: "page_size"
          example: 10
          schema:
            type: "integer"
      responses:
        "200":
          description: "调用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindKindergartenStudentMorningChecksResponse"
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: adminuser
  schemas:
    BaseResponse:
      type: "object"
      properties:
        status:
          type: "number"
          description: "状态，0表示成功，非0表示出错，具体出错根据接口而异"
          example: 0
        data:
          type: "object"
    BaseModel:
      type: "object"
      properties:
        id:
          type: "number"
          description: "主键ID"
          example: 1
        updated_at:
          type: "string"
          format: "date-time"
          example: "2020-10-20 10:18:43.91541+08"
          description: "更新时间"
        created_at:
          type: "string"
          format: "date-time"
          example: "2020-10-20 10:18:43.91541+08"
          description: "创建时间"
        created_by:
          type: "number"
          example: 1
          description: "创建人"
    AdminUser:
      allOf:
        - $ref: "#/components/schemas/BaseModel"
        - type: "object"
          properties:
            username:
              type: "string"
              example: "test111"
            name:
              type: "string"
              example: "测试帐号"
            status:
              type: "string"
              enum:
                - "OK"
                - "Banned"
              example: 0
              description: "状态，OK-正常 Banned-封禁"
            is_superuser:
              type: "boolean"
              example: false
              description: "是否是管理员"
            phone:
              type: "string"
              example: ""
              description: "手机号"
    GetSystemInfoResponse:
      type: "object"
      properties:
        superuser:
          type: boolean
          example: true
          description: 超级用户是否存在
        user:
          $ref: "#/components/schemas/AdminUser"
    CreateSuperAdminUserRequest:
      type: "object"
      properties:
        username:
          type: "string"
          example: "abdefge"
          description: "登录用户名，长度至少六位"
        name:
          type: "string"
          example: "小明"
          description: "用户姓名"
        phone:
          type: "string"
          example: "1777777777"
          description: "手机号"
        password:
          type: "string"
          example: "11111111"
          description: "密码，至少8位"
    CreateSuperAdminUserResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: "object"
          properties:
            data:
              $ref: "#/components/schemas/AdminUser"
    LoginRequest:
      type: "object"
      properties:
        username:
          type: "string"
          example: "xiaoming"
          description: "登录用户名"
        password:
          type: "string"
          example: "abc1234556"
          description: "密码"
    LoginResponse:
      description: "10001-用户不存在，10002-密码错误，10003-帐号状态不合法"
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
    GetSelfResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: "object"
          properties:
            data:
              $ref: "#/components/schemas/AdminUser"
    CreateKindergartenRequest:
      type: "object"
      properties:
        name:
          type: "string"
          example: "测试幼儿园"
          description: "幼儿园名"
        remark:
          type: "string"
          example: "这是一个测试幼儿园"
          description: "幼儿园备注"
        manager_username:
          type: "string"
          example: "xiaoming"
          description: "园长帐号的用户名，至少六位"
        manager_password:
          type: "string"
          example: "abcdefg"
          description: "园长帐号的密码，至少八位"
        manager_name:
          type: "string"
          example: "小明"
          description: "园长姓名"
        manager_gender:
          type: "string"
          enum:
            - "male"
            - "female"
          example: "female"
          description: "性别，female女，male男"
    Kindergarten:
      allOf:
        - $ref: "#/components/schemas/BaseModel"
        - type: "object"
          properties:
            name:
              type: "string"
              example: "测试幼儿园"
              description: "幼儿园名"
            remark:
              type: "string"
              example: "这是一个测试幼儿园"
              description: "幼儿园备注"
    CreateKindergartenResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: "object"
          properties:
            data:
              $ref: "#/components/schemas/Kindergarten"
    KindergartenClass:
      allOf:
        - $ref: "#/components/schemas/BaseModel"
        - type: "object"
          properties:
            name:
              type: "string"
              example: "测试A班"
              description: "班级名"
            remark:
              type: "string"
              example: "这是一个测试班级"
              description: "班级备注"
            number_of_student:
              type: "integer"
              example: 10
              description: "学生数"
            number_of_teacher:
              type: "integer"
              example: 2
              description: "老师数"
            kindergarten_id:
              type: "integer"
              example: 3
              description: "幼儿园ID"
    KindergartenTeacher:
      allOf:
        - $ref: "#/components/schemas/BaseModel"
        - type: "object"
          properties:
            username:
              type: "string"
              example: "abc123456"
              description: "用户名/登录名"
            name:
              type: "string"
              example: "张三"
              description: "姓名"
            role:
              type: "string"
              example: "manager"
              enum:
                - "manager"
                - "teacher"
              description: "角色 manager园长 teacher老师"
            phone:
              type: "string"
              example: "17336674221"
              description: "手机号"
            gender:
              type: "string"
              enum:
                - "male"
                - "female"
              example: "female"
              description: "性别，male男female女"
            kindergarten_id:
              type: "integer"
              example: 3
              description: "幼儿园ID"
            class_id:
              type: "integer"
              example: 1
              description: "班级ID，可能为0"
            kindergarten:
              $ref: "#/components/schemas/Kindergarten"
            class:
              $ref: "#/components/schemas/KindergartenClass"
    Pagination:
      type: "object"
      properties:
        page:
          type: "integer"
          example: 1
        page_size:
          type: "integer"
          example: 10
        total:
          type: "integer"
          example: 100

    FindKindergartenTeachersResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: "object"
          properties:
            data:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - type: "object"
                  properties:
                    list:
                      $ref: "#/components/schemas/KindergartenTeacher"
    FindKindergartensResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: "object"
          properties:
            data:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - type: "object"
                  properties:
                    list:
                      $ref: "#/components/schemas/Kindergarten"
    FindKindergartenClassesResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: "object"
          properties:
            data:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - type: "object"
                  properties:
                    list:
                      $ref: "#/components/schemas/KindergartenClass"
    GetKindergartenResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: "object"
          properties:
            data:
              $ref: "#/components/schemas/Kindergarten"
    KindergartenStudent:
      allOf:
        - $ref: "#/components/schemas/BaseModel"
        - type: "object"
          properties:
            name:
              type: "string"
              example: "小明"
              description: "学生名"
            remark:
              type: "string"
              example: ""
              description: "备注"
            gender:
              type: "string"
              example: "female"
              description: "性别"
            device:
              type: "string"
              example: "AC-DF-GH-DS-AA"
              description: "设备ID"
            kindergarten:
              $ref: "#/components/schemas/Kindergarten"
            class:
              $ref: "#/components/schemas/KindergartenClass"
    FindKindergartenStudentsResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: "object"
          properties:
            data:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - type: "object"
                  properties:
                    list:
                      $ref: "#/components/schemas/KindergartenStudent"
    HealthStatus:
      type: "string"
      enum:
        - "high"
        - "low"
        - "normal"
      example: "normal"
    KindergartenStudentMorningCheck:
      allOf:
        - $ref: "#/components/schemas/BaseModel"
        - type: "object"
          properties:
            temperature:
              type: "number"
              description: "体温"
              example: 36.6
            temperature_status:
              $ref: "#/components/schemas/HealthStatus"
            hand:
              type: "string"
              example: ""
              description: "手解释，暂时为空"
            mouth:
              type: "string"
              example: ""
              description: "口解释，暂时为空"
            eye:
              type: "string"
              example: ""
              description: "眼解释，暂时为空"
            student:
              $ref: "#/components/schemas/KindergartenStudent"
            kindergarten:
              $ref: "#/components/schemas/Kindergarten"
    FindKindergartenStudentMorningChecksResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: "object"
          properties:
            data:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - type: "object"
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/KindergartenStudentMorningCheck"
